# if

In [1]:
#program to check the given number is +ve 
a=10
if a>0:
    print("+ve number")

+ve number

In [2]:
#program to check the given number is +ve 
a=-10
if a>0:
    print("+ve number")

# if else

In [3]:
#program to check the given number is +ve or negative
a=10
if a>0:
    print("+ve number")
else:
    print("-ve number")

+ve number

In [4]:
#program to check the given number is +ve or negative
a=-10
if a>0:
    print("+ve number")
else:
    print("-ve number")

-ve number

In [6]:
#program to check the given number is +ve or negative
a=int(input("Enter number to check:"))
if a>0:
    print("+ve number")
else:
    print("-ve number")

Enter number to check:-20
-ve number

In [ ]:
1. Write a program to check the given number is even or odd.
2. Write a program to check the person age is elegibile to cast his vote.

In [1]:
#program to check the given number is even or odd
n=int(input("Enter number to check"))
if n%2==0:
    print("Even number")
else:
    print("Odd number")

Enter number to check8
Even number

In [2]:
#program to check the person age is elegibile to cast his vote.
age=int(input("Enter age"))
if age>=18:
    print("You are elegible to vote")
else:
    print("You are not elegible to vote")

Enter age19
You are elegible to vote

In [4]:
#program to check the biggest number of given two numbers
a,b=[int(x) for x in input("Enter a,b values:").split()]

Enter a,b values:10 20

In [8]:
a,b,c,d,e,f=[int(x) for x in input("Enter a,b values:").split(',')]

Enter a,b values:10,20,30,40,50,60

In [11]:
#program to check the biggest number of given two numbers
a,b=[int(x) for x in input("a,b values").split()]
if a>b:
    print("a is big")
else:
    print("b is big")

a,b values10 20
b is big

In [12]:
#program to find the biggest number of given three numbers
a,b,c=[int(x) for x in input("Enter a,b,c values").split()]
if a>b and a>c:
    print("a is big")
elif b>c:
    print("b is big")
else:
    print(" c is big")

Enter a,b,c values10 20 4
b is big

In [13]:
a=5
b=2
x=a*a+b*b+2*a*b
print(x)

49

In [15]:
#program to convert number to words
n=int(input("Enter number convert"))
if n==0:
    print("ZERO")
elif n==1:
    print("ONE")
elif n==2:
    print("TWO")
elif n==3:
    print("THREE")
else:
    print("Please enter numbers between 0 to 3 only")

Enter number convert1
ONE

# Nested if else

In [18]:
#program to check mail id login
mail=input("Enter your mail")
if mail=="venky123@gmail.com":
    psw=input("Enter ur password")
    if psw=="venky@123":
        print("you are successfully logged in")
    else:
        print("wrong password")
else:
    print("wrong mail")

Enter your mailvenky123@gmail.com
Enter ur passwordoweoweoowep
wrong password

In [21]:
pin=input("Enter pin number to check")
if pin=="1234":
    print("Pin is correct")
else:
    print("Pin wrong")

Enter pin number to check1234
Pin is correct

In [13]:
#program for ATM Operations
upin=int(input("Enter pin number"))
balance=5000
pin=1234
if upin==pin:
    print("Welcome to Bhadri Bank")
    print("1. Withdraw     2.Balance")
    print("3. Pin Change   4. Deposite")
    opt=int(input("Enter your option"))
    if opt==1:
        uamount=int(input("Enter amount to withdraw"))
        if uamount<=balance:
            if uamount%500==0:
                print("Your transaction is in process....please collect ur cash")
                balance=balance-uamount
                print("Your remaining account balance is:",balance)
            else:
                print("Please enter combinations of 500's only")
        else:
            print("Isufficient balance in ur account")
    elif opt==2:
        print("Your account Balance is:",balance)
    elif opt==3:
        oldpin=int(input("Enter old pin:"))
        if oldpin==pin:
            newpin=int(input("Enter new pin:"))
            pin=newpin
            print("your pin changed succesfully....your new pin is:",pin)
        else:
            print("Wrong pin ..please try again later")
    elif opt==4:
        uamount=int(input("Enter amount here to add to ur account"))
        balance=balance+uamount
        print("Your updated account balance is:",balance)
    else:
        print("Wrong option....")
else:
    print("Wrong pin...better luck next time with correct pin")

Enter pin number1234
Welcome to Bhadri Bank
1. Withdraw     2.Balance
3. Pin Change   4. Deposite
Enter your option1
Enter amount to withdraw2000
Your transaction is in process....please collect ur cash
Your remaining account balance is: 3000

# For loop

In [17]:
#program to print 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
#program to print 1 to 10
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [19]:
#program to print alternative number between 3 to 23
for i in range(3,24,2):
    print(i)

3
5
7
9
11
13
15
17
19
21
23

In [22]:
#program to print alternative number between 3 to 23
for i in range(3,24,3):
    print(i)

3
6
9
12
15
18
21

In [2]:
#program to print even numbers between 1 to 20
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
#program to print number of even numbers between 3 to 28
count=0
for i in range(3,29):
    if i%2==0:
        count=count+1
print("Number of even numbers are:",count)

Number of even numbers are: 13

In [4]:
#program to print numbers divisible by 7 between 3 to 28
for i in range(3,29):
    if i%7==0:
        print(i)

7
14
21
28

# Nested for loop:

In [5]:
#program to print 4x4 matrix pattern
for i in range(3):
    for j in range(3):
        print("* ")
    print()

*
*
*

*
*
*

*
*
*

In [6]:
#program to print 3x3 matrix pattern
for i in range(3):
    for j in range(3):
        print("* ",end='')
    print()

* * *
* * *
* * *

In [8]:
#program to print 4x4 matrix numbers
for i in range(4):
    for j in range(4):
        print(i,end=' ')
    print()

0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3

In [11]:
#program to print 4x4 matrix numbers
for i in range(4):
    for j in range(4):
        print(j,end=' ')
    print()

0 1 2 3
0 1 2 3
0 1 2 3
0 1 2 3

In [16]:
#program to print triangle patterns
for i in range(6):
    for j in range(i+1):
        print("* ",end=' ')
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [17]:
#program to print triangle patterns
for i in range(6):
    for j in range(i+1):
        print("* ",end=' ')
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [22]:
#program to print triangle patterns
for i in range(1,6):
    for j in range(i):
        print('i',end=' ')
    print()

i
i i
i i i
i i i i
i i i i i

In [23]:
#program to print triangle patterns
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [32]:
#program to print triangle patterns
for i in range(1,6):
    for j in range(i):
        print(chr(64+i),end=' ')
    print()

A
B B
C C C
D D D D
E E E E E

In [29]:
#program to print triangle patterns

for i in range(1,6):
    for j in range(i):
        print(chr(96+i),end=' ')   
    print()

a
b b
c c c
d d d d
e e e e e

In [31]:
#program to print triangle patterns

for i in range(1,6):
    for j in range(i):
        print(chr(65+j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

# while loop

In [3]:
#example program for while
i=1
while(i<=10):
    print("Hello Venky")
    i=i+1

Hello Venky
Hello Venky
Hello Venky
Hello Venky
Hello Venky
Hello Venky
Hello Venky
Hello Venky
Hello Venky
Hello Venky

In [4]:
#program to print numbers from 1 to 10
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
#program to print numbers from 10 to 1
i=10
while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [8]:
#program to print even numbers betweem 1 to 10
i=1
while(i<=10):
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10

In [9]:
#program to print number of even numbers betweem 1 to 10
i=1
count=0
while(i<=10):
    if i%2==0:
        count=count+1
    i=i+1
print("Number of even numbers are:",count)

Number of even numbers are: 5

In [10]:
#program to print number of odd numbers betweem 1 to 10
i=1
count=0
while(i<=10):
    if i%2!=0:
        count=count+1
    i=i+1
print("Number of odd numbers are:",count)

Number of odd numbers are: 5

# Nested While:

In [17]:
#program to understand nested while
i=1
while(i<=4):
    j=1
    while(j<=4):
        print("* ",end='')
        j=j+1
    print()
    i=i+1

* * * *
* * * *
* * * *
* * * *

In [19]:
#program to understand nested while
i=1
while(i<=4):
    j=1
    while(j<=4):
        print(i,end=' ')
        j=j+1
    print()
    i=i+1

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [20]:
#program to understand nested while
i=1
while(i<=4):
    j=1
    while(j<=4):
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [21]:
#program to understand nested while
i=1
while(i<=4):
    j=1
    while(j<=i):
        print("* ",end='')
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *

In [22]:
#program to understand nested while
i=1
while(i<=4):
    j=1
    while(j<=i):
        print(i,end=' ')
        j=j+1
    print()
    i=i+1

1
2 2
3 3 3
4 4 4 4

In [23]:
#program to understand nested while
i=1
while(i<=4):
    j=1
    while(j<=i):
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4

In [24]:
#program to understand nested while
i=4
while(i>=1):
    j=1
    while(j<=i):
        print(j,end=' ')
        j=j+1
    print()
    i=i-1

1 2 3 4
1 2 3
1 2
1

In [25]:
#program to understand nested while
i=1
k=1
while(i<=4):
    j=1
    while(j<=i):
        print(k,end=' ')
        j=j+1
        k=k+1
    print()
    i=i+1

1
2 3
4 5 6
7 8 9 10

# Loops with else:

In [29]:
#program to understand loops with else
for i in range(10):
    if i==5:
        print("Reeached 5th level")
    print(i)
else:
    print("Execution completed")

0
1
2
3
4
Reeached 5th level
5
6
7
8
9
Execution completed

In [30]:
#program to understand loops with else
for i in range(10):
    if i==5:
        print("Reeached 5th level")
        break
    print(i)
else:
    print("Execution completed")

0
1
2
3
4
Reeached 5th level

In [33]:
#program to understand loops with else
for i in range(10):
    pass
 
else:
    print("Execution completed",i)

Execution completed 9